/* AQI Styles */

.card {
  background-color: #fff;
  height: max-content;
  border-radius: 8px;
  border: 1px solid #f5f6f8;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.cardHeader p {
  margin-top: 0;
}

.rightSection p {
  margin: 0;
  text-align: center;
}

.aqiValue {
  font-weight: 700;
  font-size: 1.2rem;
}

.dateTime {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.aqiParams {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;
  width: 100%;
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 8px;
}

.aqiBar {
  height: 250px !important;
  width: 100% !important;
}

@media (max-width: 500px) {
  .cardHeader {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}
