.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
}

.leaflet-popup-content-wrapper b {
  color: var(--colorPrimary);
}

.leaflet-popup-content {
  margin: 1rem 0;
  padding: 0 1rem;
}

.leaflet-popup-tip {
  display: none;
}

.map {
  width: 100%;
  height: 60vh;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
}

.popup-heading-aqi {
  color: black;
  margin-bottom: 0.5rem;
}
