.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
  color: #eaeff1 !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #b4c7cd !important;
}

.leaflet-popup-tip {
  border-radius: 2px !important;
}

.map {
  width: 100%;
  height: 60vh;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
}

.popup-heading-aqi {
  color: black;
  margin-bottom: 0.5rem;
}
