.centerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centerImage img {
  width: 100%;
  height: 100vh;
}

.centerImageNF {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.centerImageNF img {
  height: 80vh;
  width: 100%;
}

.logo {
  width: auto;
  height: 50px;
}

.header {
  position: fixed !important;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex !important;
  padding: 1rem !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image {
  height: 50px;
}
