.logo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header {
  position: fixed;
  z-index: 1111;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem !important;
}

.image {
  height: 50px;
}

.container {
  margin-top: 72px !important;
  width: 100%;
  padding: 1rem;
}
